*{
    margin: 0px;
    padding: 0px;
}

/* nav section style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0px auto;
    height: 151px;
    font-weight: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-primary{
    border: none;
    width: 130px;
    height: 48px;
    border-radius: 10px;
    font-weight: 700px;
    background-color:#4E47FF ;
    color:#FFFFFF ;
}
nav h3{
    font-weight:700px ;
    font-size: 34px;
    color: #4E47FF;
}
.header{
    background-image: url("../image/Hero-bg.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 698px;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;

}

.text-center{
    text-align: center;
    max-width: 905px;
    height: 237px;
    margin: 0px auto;
}
.text-center div h1{
    font-size: 65px;
    font-weight: 700px;
    color: #252432;
    
}
.two-btn{
    width: 174px;
    height: 48px;
    margin-top: 37px;
}
/* action section style */
.action-section{
    display: flex;
    max-width: 1140px;
    height: 328px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    
}
.left-section{
    width: 512px;
    height: 203px;
}
.title{
    width: 517px;
    height:49px ;
    font-weight: 700px;
    font-size: 42px;
    color: #252432;
    
}
.sub-title{
    width: 517px;
    height: 60px;
    font-size: 24px;
    font-weight: normal;
    color: #252432;
    margin-top: 23px;
}
.three-btn{
    width: 229px;
    height: 48px;
    font-weight: 700px;
    font-size: 16px;
    padding: 12px 36px;
    margin-top: 23px;
}
.right-section{
    width: 403px;
    height: 328px;
    border-radius: 20px;
}
/* Productive-section */
.Productive-section{
    max-width: 1140px;
    height: 306px;
    border-radius: 10px;
    background-color:rgba(78, 71, 255, 10%);
    margin: 0px auto ;
    justify-items: center;
    
}
.content-title{
    color: #252432;
    font-weight: 700px;
    font-size: 38px;
    width: 856px;
    height: 45px;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}
.data-with-subtitle{
        display: flex;
        margin: 0px auto ;
        justify-content: space-between;
}
.stat-box{
    width: 180px;
    height: 121px;
    font-size: 80px;
    font-weight: 700px;
    color: #4E47FF;
}
.subtitle{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 50%);
}